5 Minute Video Demo

For a class assignment:
```md
5 Minute Video Demonstration of the project showing the following features:
- Version(section 3.7.4 of RFC 5545)
- Classification(3.8.1.3)
- Comment (3.8.1.4) Your system will compute the great circle distance between events and store it in the comment fields
- DTSTART (3.8.2.4)
- DTEND (3.8.2.2)
- Time Zone Identifier (3.8.3.1)
```


A video link can be added into the README.md file so that anyone looking at the project can see it.

@marcodlk @IHoffman5214 @es32 
So what if we each just recorded a small 1-2 minute video showing a particular part of the program and then I just added them all into one video? What do you guys think about it? The roles could be dividied by the following:
-Version and Classification (just talk about what they are and what they look like in a .ics file)
- Comments in Vevents (how we use them to store GCD and what GCD is)
- DTSTART and DTEND (what they are, what they look like in .ics files, how we generate them, their format)
- Time Zone Identifier

https://youtu.be/US4zd-DXpfA